.iconContent {
    display: inline-block;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.textImg {
    font-weight: 700;
    font-size: 25px;
    margin-left: -20px;
}
