.mapContent {
    display: inline-block;

    /*margin: 0 auto;*/
}

.test {
    /*border: 10px red solid;*/
}

.map {
    margin-top: 28px;
    /*margin-bottom: -28px;*/
    min-width: 300px;
    height: 300px;
}
