.sliderWeatherContent {
    display: inline-block;
    width: 100%;
}

.today {
    color: grey;
    font-size: 15px;
    text-align: left;
}

.elementSliderBlock {
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #000000;
    position: relative;
    transform: translate(0, 25%);
}

.elementSliderBlock:first-child {
    display: inline-block;
    margin-left: 0;
}

.elementSliderBlock:last-child {
    display: inline-block;
    margin-left: 0;
}

.sliderWeatherContent button {
    display: inline-block;
    color: rosybrown;
    height: 200px;
    width: 40px;
    position: relative;
    transform: translate(0, -15%);
}

.currentDateWeather {
    font-size: 24px;
    font-weight: bolder;
    text-align: left;
}
